@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .left-arrow {
    @apply flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50;
  }

  .right-arrow {
    @apply flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50;
  }

  .transform {
    transform: translateX(0);
  }
  .translate-x-full {
    transform: translateX(100%);
  }
  .-translate-x-full {
    transform: translateX(-100%);
  }
  .transition-transform {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}
