<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FoE Room Reservation Cancellation Confirmation</title>
</head>
<body
	style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 20px;">
	<h2 style="color: #4a90e2; margin-bottom: 20px;">FoE Room
		Reservation</h2>

	<p style="line-height: 1.6; margin: 0 0 20px;">
		Dear <span th:text="${userName}"
			style="color: #333; font-weight: bold;"></span>,
	</p>
	<p style="line-height: 1.6; margin: 0 0 20px;">We have received
		your request and would like to inform you that your bookings with the
		following details have been successfully cancelled.</p>

	<h3 style="color: #d9534f; margin-top: 20px; margin-bottom: 10px;">Cancelled
		Booking: Details</h3>
	<div>
		<table
			style="width: 100%; max-width: 600px; border-collapse: collapse; background-color: #fff; border: 1px solid #ddd; margin-bottom: 20px;">
			<tr
				th:if="${notification.getBookForUser() != null && (notification.getLoggedUser().getUserType().toString() == 'admin' || notification.getLoggedUser().getUserType().toString() == 'superAdmin')}">
				<td
					style="padding: 10px; border: 1px solid #ddd; font-weight: bold; background-color: #f5f5f5;">Booked
					For</td>
				<td
					style="padding: 10px; border: 1px solid #ddd; color: #333;font-weight: bold;"
					th:text="${bookedFor}"></td>
			</tr>

			<tr>
				<td
					style="padding: 10px; border: 1px solid #ddd; font-weight: bold; background-color: #f5f5f5; width: 30%;">Booked
					Room</td>
				<td
					style="padding: 10px; border: 1px solid #ddd; color: #333; font-weight: bold;"
					th:text="${notification.roomName}"></td>
			</tr>

			<tr>
				<td
					style="padding: 10px; border: 1px solid #ddd; font-weight: bold; background-color: #f5f5f5;">Cancelled
					Days</td>
				<td style="padding: 10px; border: 1px solid #ddd;">
					<ul style="list-style-type: none; padding: 0; margin: 0;">
						<li th:each="date : ${notification.bookingDates}"
							style="margin: 5px 0; color: #333; font-weight: bold;"
							th:text="${date}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td
					style="padding: 10px; border: 1px solid #ddd; font-weight: bold; background-color: #f5f5f5;">From
					Time</td>
				<td
					style="padding: 10px; border: 1px solid #ddd; color: #333; font-weight: bold;"
					th:text="${notification.startTime}"></td>
			</tr>
			<tr>
				<td
					style="padding: 10px; border: 1px solid #ddd; font-weight: bold; background-color: #f5f5f5;">To
					Time</td>
				<td
					style="padding: 10px; border: 1px solid #ddd; color: #333; font-weight: bold;"
					th:text="${notification.endTime}"></td>
			</tr>
		</table>
	</div>

	<p style="font-style: italic; color: #777; margin: 0;">Thank you
		for choosing FoE Room Reservation.</p>
</body>
</html>